@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html 
{
  scroll-behavior: smooth;
}
body 
{
  height: 100vh;
}

.logo 
{
  background-color: #006241;
   padding: 15px;
   position: fixed;
   top: 0;
  width: 100%;
}

.box 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    gap: 7px;
    font-family: sans-serif;
    font-size: 0.8em;
}

.img 
{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

h2
{
  color: #006241;
  text-align: center;
  margin-top: 15%;
  text-transform: uppercase;
   font-family: 'Nunito Sans', sans-serif;
  text-decoration: underline;
}

.content-1
{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 7%;
}

.content-2
{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 7%;
}

p 
{
  font-family: 'Kanit', sans-serif;
  font-size: 1rem;
}

h3
{
  font-size: 1rem;
  font-family: 'Kanit', sans-serif;
}

.btns
{
  display: flex;
  flex-direction: row;
  gap: 1%;
}


.card-1
{
  padding: 25px;
  border-radius: 15px;
  border: 1px solid black;
  margin-top: 5%;
}

.card-component
{
  display: flex;
  gap: 10%;
  justify-content: center;
}

.c-1 
{
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.btns 
{
  gap: 4%;
  margin-top: 4%;
}
.btns p 
{
  background-color: #006241;
  padding: 8px;
  border-radius: 5px;
  color: whitesmoke;
}

.order-btn
{
  background-color: black;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  margin-top: 4%;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  transition: 0.4s ease;
  margin-top: 10%;
}

.order-btn:hover
{
  background-color: #006241;
  color: black;
}

.icons
{
  display: flex;
  flex-direction: row;
  gap: 1%;
  justify-content: center;
  margin-top: 5%;
}

@media screen and (max-width: 480px)
{
  .logo
  {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .logo img
  {
    width: 35px;
    height: 35px;
  }

  h2 
  {
    font-size: 0.9rem;
    margin-top: 25%;
    text-align: center;
     font-family: 'Nunito Sans', sans-serif;
    text-decoration: underline;
  }

  .content-1
  {
    margin-top: 15%;
    gap: 5%;
    display: flex;
    flex-direction: row;

  }

  .content-2
  {
    margin-top: 15%;
    gap: 5%;
    display: flex;
    flex-direction: row;
  
  }

  .box 
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-component
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  

  .card-1
  {
  padding: 25px;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 5%;
  }

  .order-btn
  {
    width: 100%;
  }
  .btns p
  {
    padding: 8px;
    color: white;
    gap: 2%;
    font-size: 0.7rem;
  }
 
  .icons
  {
    margin-top: 5%;
    gap: 4%;
  }
  .icons img 
  {
    width: 25px;
    height: 25px;
  }

  p
  {
    font-family: 'Inter', sans-serif;
  }

  .text 
  {
    font-family: 'Kanit', sans-serif;
  }

  .card-1 h3 
  {
    font-family: 'Kanit', sans-serif;
  }
}