@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background-image: url("pattern-background-desktop.svg");
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
    place-items: center;
    height: 100vh;
}

.content 
{
	padding: 5px 10px 10px 5px;
}
.card
{
	background-color: white;
	border-radius: 20px;
	overflow: hidden;
	width: 25%;
}

h1
{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
}

p 
{
	 font-family: 'Red Hat Display', sans-serif;
	 text-align: center;
	 padding: 5px;
}

h2 
{
	font-family: 'Red Hat Display', sans-serif;
	font-size: 1.2rem;
}

p 
{
	font-family: 'Red Hat Display', sans-serif;
	color:  hsl(224, 23%, 55%);
}
.audio 
{
	display: flex;
	align-items: center;
    gap: 17%;
	border-radius: 15px;
	margin: 15px;
	padding: 10px;
	background-color: hsl(225, 100%, 94%);
}

button
{
	width: 90%;
	padding: 10px;
	font-family: 'Red Hat Display', sans-serif;
	color: white;
	background-color:  hsl(245, 75%, 52%);
	border-radius: 10px;
	border: none;
	margin-left: 20px;
}

.cancel
{
	background-color: white;
	color:  hsl(224, 23%, 55%);
	border: none;
}